extends babout.pug 
block scripts 
    script(src="/static/index.js") 
block style 
    style
      include ../static/aboutstyle.css
      include ../static/style.css
block content 
    div.aboutcontent
        div.head
           | About Us 
        div.info
            div.info-img
                img(src="/static/img1.jpg", alt="pic1")
            div.info-cont
                p |The Epic Dance Company (voted India’s Number 1 dance company) and the Terence Lewis Professional Training Institute are widely-acknowledged as the country’s most popular and reputed dance organisations.

                 p |Together with the Epic Dance Scholarship Foundation Trust, they make up the TL brand, which fosters creative excellence in the talented, enthusiastic dancer (or aspiring dancer), raising the standards of dance in India and beyond.

                p |We work together, towards professional excellence in exploring dance in various forms such as educational, research, artistic and commercial ventures. We constantly strive for efficiency and customer satisfaction.

                 p | Our talented team of professional dancers and instructors have all been handpicked and personally trained by our founders Terence Lewis and Mahrukh Dumasia; and receive ongoing coaching and regular assessments to ensure that that their skills are up-to-date.
        div.info2
            div.info-cont2
               p | Our Founder and Artistic Director Master Terence Lewis is widely-recognised as India’s leading choreographer, dancer and TV judge and a multiple Guinness Book of World Records winner. He is a Doctor in the Performing Arts (Dance), an honorary title awarded by the National Institute of Education and Research, New Delhi, in recognition of his achievements in the dance sector.

                p |Terence is a self-taught artist, who honed his skills mid-career with workshops at the Alvin Ailey School of Dance, New York. He was the first Indian to receive a fully-funded scholarship to study at Impulstanz, Vienna (the world’s leading contemporary dance festival) and is the only regular Indian teacher at Impulstanz. He developed a new style of dance, Indo-Contemporary, using his background in Indian dance and Bollywood with contemporary technique. He was the first Indian member of the UNESCO- International Dance Council - CID- Conseil International de la Danse.

            div.info-img2
                img(src="/static/img2.png", alt="pic1")
