doctype html
html
  head
    title Epic dance academy
    block scripts
    block style 
  body
    nav#navbar
      ul 
        div#logo 
            img(src="/static/logo.png", alt="img")
            | DA
        li #[a(href='/') Home]
        li #[a(href='/about') About us ]
        li #[a(href='/faq') FAQS]
        li #[a(href='/') class Info ]
        li #[a(href='/contact') contact us]  
        div#mail
            | &#128231 : enquiry@gmail.com
    block content
    footer#Afooter
        div.foot
            | copyright © 2022 EpicDanceAcademy.com | All rights reserved
        div.details
            | &#128222 : +91 9137931980 / +91 9137930268