.box1 p {
    display: inline;
}

.box2 p {
    display: inline;
}


/* .box2 p {
    display: inline;
} */

.box1 button {
    display: inline;
    margin-left: 30px;
}

.box2 button {
    display: inline;
    margin-left: 30px;
}

#para {
    display: none;
}

#para2 {
    display: none;
}

#para3 {
    display: none;
}

#btn2 {
    display: none;
}

#btn4 {
    display: none;
}

#btn6 {
    display: none;
}

.box1 {
    display: flex;
}

.box2 {
    display: flex;
}

.box3 {
    display: flex;
}

.faqcontent {
    height: 90vh;
    background: center / cover no-repeat url("/static/bg2.jpg");
}

.mainbox {
    padding: 13px 20px 22px 11px;
}

.mainbox2 {
    padding: 10px 10px 10px 10px;
}

.mainbox3 {
    padding: 10px 10px 10px 10px;
}

p {
    font: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}